<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}

{% block title %}Add New Employee - Django Delights{% endblock %}

{% block content %}
    <h1>Add New Employee</h1>

    <form action="/employees/add/" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="user" class="form-label">User</label>
            <select class="form-control" id="user" name="user" required>
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <select class="form-control" id="role" name="role" required>
                <option value="chef">Chef</option>
                <option value="waiter">Waiter</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <select class="form-control" id="location" name="location" required>
                {% for location in locations %}
                    <option value="{{ location.id }}">{{ location.name }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-success">Add Employee</button>
    </form>
{% endblock %}


</body>
</html>