<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Add New Employee</h1>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="first_name" class="form-label">First Name</label>
        <input type="text" name="first_name" id="first_name" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="last_name" class="form-label">Last Name</label>
        <input type="text" name="last_name" id="last_name" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="salary" class="form-label">Salary</label>
        <input type="number" name="salary" id="salary" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="market" class="form-label">Select Market</label>
        <select name="market" id="market" class="form-select" required>
            {% for market in markets %}
                <option value="{{ market.id }}">{{ market.name }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-success">Add Employee</button>
</form>
{% endblock %}

</body>
</html>